<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Gratify", :root, id: "logo" %>
    <nav id="signed">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Back", :back %></li>
      </ul>
    </nav>
  </div>
</header>
