/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

/* signed out nav */
nav {
  display: flex;
  justify-content: center;
}

header p {
  padding-top: 9px;
  margin-bottom: 0px;
  text-align: center;
}

a#logo {
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -0.5px;
  padding-top: 9px;
  font-weight: bold;
}

a#logo:hover {
  color: #888;
  text-decoration: none;
}

nav {
  ul {
    padding-left: 0px;
    padding-top: 8px;
    margin-bottom: 4px;
    li {
      display: flex;
      justify-content: center;
      font-size: 1.1em;
      a {
        color: #888;
      }
      a:hover {
        color: $white;
        text-decoration: none;
      }
    }
  }
}

body {
  padding-top: 6.4em;
  background-color: #FCFFDB;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: normal;
  color: #444;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
}

#provider {
  display: flex;
  justify-content: center;
  color: #888;
  font-size: 0.8em;
  /*margin-bottom: 13px;*/
}

h4 {
  font-weight: 700;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

/* Sign-in buttons */

#sign-in {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.google-btn {
  width: 250px;
  height: 42px;
  background-color: $google-blue;
  box-shadow: 0px 0px 15px #888888;
  .google-icon-wrapper {
    position: absolute;
    width: 40px;
    height: 42px;
    background-color: black;
  }
  .google-icon {
    position: absolute;
    margin-top: 6px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
  }
  .btn-text {
    padding-top: 5px;
    padding-right: 70px;
    float: right;
    color: $white;
    font-size: 23px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    text-decoration: none;
  }
  &:hover {
    box-shadow: 0 0 10px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}


.github-btn {
  width: 250px;
  height: 42px;
  background-color: black;
  box-shadow: 0px 0px 15px #888888;
  .github-icon-wrapper {
    position: absolute;
    width: 40px;
    height: 42px;
    background-color: $white;
  }
  .github-icon {
    position: absolute;
    margin-top: 4px;
    margin-left: 2px;
    width: 35px;
    height: 35px;
  }
  .btn-text {
    padding-top: 5px;
    padding-right: 70px;
    float: right;
    color: $white;
    font-size: 23px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    text-decoration: none;
  }
  &:hover {
    box-shadow: 0 0 10px black;
  }
  &:active {
    background: black;
  }
}

.twitter-btn {
  width: 250px;
  height: 42px;
  background-color: #1DA1F2;
  box-shadow: 0px 0px 15px #888888;
  .twitter-icon-wrapper {
    position: absolute;
    width: 40px;
    height: 42px;
    background-color: black;
  }
  .twitter-icon {
    position: absolute;
    margin-top: 6px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
  }
  .btn-text {
    padding-top: 5px;
    padding-right: 70px;
    float: right;
    color: $white;
    font-size: 23px;
    letter-spacing: 0.8px;
    font-family: "Roboto";
    text-decoration: none;
  }
  &:hover {
    box-shadow: 0 0 10px #0b7fd5;
  }
  &:active {
    background: #0b7fd5;
  }
}


/* footer */

footer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding-top: 5px;
  border-top: 2px solid #eaeaea;
  color: #777;
  font-size: 14px;

  a {
    color: #A75E11;
  }

  a:hover {
    color: #FF8000;
  }
}

#visitor-count  {
  .row {
    display: flex;
    justify-content: center;
  }
  .alert-info  {
    margin-top: 50px;
    margin-bottom: none;
    padding: 10px;
    text-align: center;
  }
}
