/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

/* signed out nav */
nav {
  display: flex;
  justify-content: center;
}

/* ------------------ */

/* signed-in nav */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #888;
  text-decoration: none;
}

nav#signed {
  display: flex;
  justify-content: end;
}

.navbar-inverse .navbar-nav > li > a {
  color: $white;
  font-size: large;
  &:hover, &:active {
    color: green;
  }
}

/* -----------------  */

body {
  padding-top: 4em;
  background-color: #FCFFDB;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: normal;
  color: #444;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
}

a {
  &:hover {
    text-decoration:none;
  }
}

#provider {
  display: flex;
  justify-content: center;
  color: green;
  font-size: 0.8em;
}


#sign-in-box  {
  margin:auto;
  padding-top: 25px;
  padding-bottom: 55px;
  width: 320px;
  border-radius: 15px;
  box-shadow: 0px 0px 50px #999999;
}

h4 {
  font-size: 1.5em;
  letter-spacing: -0.5px;
  font-weight: 500;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}

/* Sign-in buttons */

#sign-in {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.google-btn {
  width: 200px;
  height: 42px;
  border-radius: 15px;
  background-color: $google-blue;
  box-shadow: 0px 0px 10px #888888;
  .google-icon-wrapper {
    position: absolute;
    border-radius: 15px 0px 0px 15px;
    width: 60px;
    height: 42px;
    background-color: black;
  }
  .google-icon {
    position: absolute;
    margin-top: 6px;
    margin-left: 15px;
    width: 30px;
    height: 30px;
  }
  .btn-text {
    padding-top: 3px;
    padding-right: 40px;
    float: right;
    color: $white;
    font-size: 23px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    text-decoration: none;
  }
  &:hover {
    box-shadow: 0 0 20px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}


.github-btn {
  width: 200px;
  height: 42px;
  background-color: black;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #888888;
  .github-icon-wrapper {
    position: absolute;
    border-radius: 15px 0px 0px 15px;
    width: 60px;
    height: 42px;
    background-color: $white;
  }
  .github-icon {
    position: absolute;
    margin-top: 2px;
    margin-left: 12px;
    width: 40px;
    height: 40px;
  }
  .btn-text {
    padding-top: 3px;
    padding-right: 40px;
    float: right;
    color: $white;
    font-size: 23px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    text-decoration: none;
  }
  &:hover {
    box-shadow: 0 0 20px black;
  }
  &:active {
    background: black;
  }
}

.twitter-btn {
  width: 200px;
  height: 42px;
  background-color: #1DA1F2;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #888888;
  .twitter-icon-wrapper {
    position: absolute;
    border-radius: 15px 0px 0px 15px;
    width: 60px;
    height: 42px;
    background-color: black;
  }
  .twitter-icon {
    position: absolute;
    margin-top: 1.5px;
    margin-left: 11px;
    width: 40px;
    height: 40px;
  }
  .btn-text {
    padding-top: 3px;
    padding-right: 40px;
    float: right;
    color: $white;
    font-size: 23px;
    font-family: "Roboto";
    text-decoration: none;
  }
  &:hover {
    box-shadow: 0 0 20px #0b7fd5;
  }
  &:active {
    background: #0b7fd5;
  }
}

.edit-form {
    box-shadow: 0px 0px 50px #999999;
    display: block;
    margin:auto;
    width: fit-content;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-right: 40px;
    padding-left:40px;
    font-size: 1em;

    h2 {
      margin-bottom: 20px;
    }
  .field {
    padding-bottom: 20px;
    width: auto;
  }
  .actions  {
    display: flex;
    justify-content: center;
  }
  .btn {
    font-size: 1.2em;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  a {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 600;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
}

/* Say */
.btn-primary {
  font-size: 1em;
}

#error_explanation {
  color: red;
  background-color: #FFBFBF;
  border-radius: 15px;
  padding: 10px;
  margin:auto;
  width: fit-content;
  font-size: 1.1em;
  font-family: "Roboto";
  p {
    margin: 0 0 0px;
  }
}

div.input.string.required.search_query input {
  display: block;
  margin:auto;
  margin-bottom: 10px;
  background-color: transparent;
  border-color: #FFFF00;
  padding: 7px;

}

label.string.required {
  display: none;
}

.btn-warning, .btn-info {
  color: black;
  display: block;
  margin:auto;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
  }
}


#post-quotes  {
  display: block;
  textarea{
    font-family: fangsong;
    font-size: 1em;
    line-height: 1.5em;
    padding: 10px;
    background-color: transparent;
    border: none;
    box-shadow: 0px 0px 5px #FFFF00;
    resize: auto;
  }
}

.alert {
  text-align:center;
  width: fit-content;
  margin: auto;
}

#show-quotes  {
  font-family: fangsong;
  span {
    display: block;
    font-size: 1.2em;
    text-align: left;
    margin: 50px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px orange;
    height: auto;
    a {
      color: black;
      &:hover {
        text-decoration: none;
      }
      &:active  {
        text-decoration: none;
      }
    }
    p#time {
      color: grey;
      font-size: 0.6em;
      margin: 0 0 0px;
      padding-top: 15px;
      text-align:center;
    }
  }
}
/* footer */

footer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding-top: 5px;
  border-top: 2px solid #eaeaea;
  color: #777;
  font-size: 14px;

  a {
    color: #A75E11;
  }

  a:hover {
    color: #FF8000;
  }
}

#extra-info {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  button {
    margin-right: 10px;
  }
}

#visitor-count  {
  .row {
    display: flex;
    justify-content: center;
  }
  .alert-info  {
    margin-top: 50px;
    margin-bottom: none;
    padding: 10px;
    text-align: center;
  }
}
