/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables for colors */
$white: #fff;
$off-white: #FCFFDB;
$google-blue: #4285f4;
$button-active-blue: #1669F2;
$twitter-blue: #1DA1F2;
$twitter-dark-blue: #0b7fd5;
$dark-grey: #999999;
$light-grey: #888888;
$dark-brown: #a75e11;
$dark-orange: #ff8000;


/* -------------------- */
/* mixins  (DRY) */
@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin provider-button {
  width: 200px;
  height: 42px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px $light-grey;
}

@mixin provider-icon-wrapper {
  position: absolute;
  border-radius: 15px 0px 0px 15px;
  width: 60px;
  height: 42px;
  background-color: black;
}

@mixin provider-icon {
  position: absolute;
  width: 40px;
  height: 40px;
}

@mixin provider-btn-txt {
  padding-top: 3px;
  padding-right: 40px;
  float: right;
  color: $white;
  font-size: 23px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

@mixin block-auto {
  display: block;
  margin: auto;
}


/* ------------ */

/* Predefine common html attributes value  */

a {
  &:hover {
    text-decoration:none;
  }
  &:active {
    text-decoration:none;
  }
  &:focus {
    text-decoration: none;
  }
}

body {
  padding-top: 4em;
  background-color: $off-white;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: normal;
  color: #444;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
}

.btn-text {
  @include provider-btn-txt;
}

.btn-primary {
  font-size: 1em;
}

.btn-warning, .btn-info {
  @include block-auto;
  color: black;
  &:hover {
    color: black;
  }
}

.alert {
  text-align:center;
  width: fit-content;
  margin: auto;
}

/* -------For signed out user----------- */
/* signed out nav */
nav {
  @include flex-center;
}

/* sign-in text provider */
#provider {
  @include flex-center;
  color: green;
  font-size: 0.8em;
}

#sign-in-box  {
  margin:auto;
  padding-top: 25px;
  padding-bottom: 55px;
  width: 320px;
  border-radius: 15px;
  box-shadow: 0px 0px 50px $dark-grey;
}

/* sign-in header */
h4 {
  font-size: 1.5em;
  letter-spacing: -0.5px;
  font-weight: 500;
  margin-bottom: 35px;
  @include flex-center;
}

/* Sign-in buttons */
#sign-in {
  margin-top: 20px;
  @include flex-center;
}

.google-btn {
  @include provider-button;
  background-color: $google-blue;

  .google-icon-wrapper {
    @include provider-icon-wrapper;
  }

  .google-icon {
    @include provider-icon;
    width: 30px;
    height: 30px;
    margin-top: 6px;
    margin-left: 15px;
  }

  &:hover {
    box-shadow: 0 0 20px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}


.github-btn {
  @include provider-button;
  background-color: black;

  .github-icon-wrapper {
    @include provider-icon-wrapper;
    background-color: $white;
  }

  .github-icon {
    @include provider-icon;
    margin-top: 2px;
    margin-left: 12px;
  }

  &:hover {
    box-shadow: 0 0 20px black;
  }
  &:active {
    background: black;
  }
}

.twitter-btn {
  @include provider-button;
  background-color: $twitter-blue;

  .twitter-icon-wrapper {
    @include provider-icon-wrapper;
  }

  .twitter-icon {
    @include provider-icon;
    margin-top: 1.5px;
    margin-left: 11px;
  }

  &:hover {
    box-shadow: 0 0 20px $twitter-dark-blue;
  }
  &:active {
    background: $twitter-dark-blue;
  }
}


/* -----For signed in users------ */
/* Header nav */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color:$white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #888;
}

nav#signed {
  display: flex;
  justify-content: end;
}

.navbar-inverse .navbar-nav > li > a {
  color: $white;
  font-size: large;
  &:hover, &:active {
    color: green;
  }
}

/*------------ Edit quote page -------*/
.edit-form {
    @include block-auto;
    box-shadow: 0px 0px 50px $dark-grey;
    width: fit-content;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-right: 40px;
    padding-left:40px;
    font-size: 1em;

    h2 {
      margin-bottom: 20px;
    }
  .field {
    padding-bottom: 20px;
    width: auto;
  }
  .actions  {
    @include flex-center;
  }
  .btn {
    font-size: 1.2em;
    @include block-auto;
    margin-top: 20px;
  }
  a {
    @include flex-center;
    font-size: 1.2em;
    font-weight: 600;
  }
}


/* --------Search Quotes ------- */
div.input.string.required.search_query input {
  @include block-auto;
  margin-bottom: 10px;
  background-color: transparent;
  border-color: #FFFF00;
  padding: 7px;

}
label.string.required {
  display: none;
}

/* --------------------- Post quotes------------ */
#error_explanation {
  color: red;
  background-color: #FFBFBF;
  border-radius: 15px;
  padding: 10px;
  margin:auto;
  width: fit-content;
  font-size: 1.1em;
  font-family: "Roboto";
  p {
    margin: 0 0 0px;
  }
}

#post-quotes  {
  display: block;
  textarea{
    font-family: fangsong;
    font-size: 1em;
    line-height: 1.5em;
    padding: 10px;
    background-color: transparent;
    border: none;
    box-shadow: 0px 0px 5px #FFFF00;
    resize: auto;
  }
}

/* ----------- All quotes of user ------------ */
#show-quotes  {
  font-family: fangsong;
  span {
    display: block;
    font-size: 1.2em;
    text-align: left;
    margin: 50px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px orange;
    height: auto;
    a {
      color: black;
    }
    p#time {
      color: grey;
      font-size: 0.6em;
      margin: 0 0 0px;
      padding-top: 15px;
      text-align:center;
    }
  }
}

/* -----External links button----- */
#extra-info {
  text-align: center;
  @include flex-center;
  margin-top: 60px;
  button {
    margin-right: 10px;
  }
}

/* ------------------- */
#visitor-count  {
  .row {
    @include flex-center;
  }
  .alert-info  {
    margin-top: 50px;
    margin-bottom: none;
    padding: 10px;
    text-align: center;
  }
}


/*--------- footer----------- */
footer {
  @include flex-center;
  margin-top: 25px;
  padding-top: 5px;
  border-top: 2px solid $light-grey;
  color: $light-grey;
  font-size: 14px;

  a {
    color: $dark-brown;
  }
  a:hover {
    color: $dark-orange;
  }
}
